ADMIN_USERNAME=admin-alizz
ADMIN_PASSWORD_HASH=pbkdf2_sha256$310000$contoh_salt$contoh_hash
SESSION_SECRET=random_secret_minimal_32_karakter

SUPABASE_URL=https://project.supabase.co
SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxxxxxxxx

SITE_URL=https://www.alizz-shop.biz.id
NODE_ENV=production
