SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
SESSION_SECRET=

ZAKKI_API_TOKEN=
ZAKKI_API_BASE_URL=https://qris.zakki.store

PANEL_CREDENTIALS_ENCRYPTION_KEY=

PTERODACTYL_DOMAIN=
PTERODACTYL_APPLICATION_API_KEY=
PTERODACTYL_LOCATION_ID=1
PTERODACTYL_NEST_ID=5
PTERODACTYL_EGG_ID=17
PTERODACTYL_EGG_DOCKER_IMAGE=
PTERODACTYL_STARTUP_CMD=
PTERODACTYL_EGG_ENV_JSON={}
PTERODACTYL_DEFAULT_DISK_MB=10240
PTERODACTYL_DEFAULT_CPU_PERCENT=100
PTERODACTYL_ALLOW_UNLIMITED_ZERO=false

MEMBERSHIP_WHATSAPP_GROUP_URL=https://chat.whatsapp.com/EM7QsayWlS7DeunD5pnub1?mode=gi_t
MEMBERSHIP_TELEGRAM_GROUP_URL=https://t.me/+imrqqPIaeWJjNGRl
